<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Listado de Clientes</h3>

<table>

    <tr>
        <td>id</td>
        <td>nombres</td>
        <td>apellido paterno</td>
        <td>apellido materno</td>
        <td>Tipo de documento</td>
        <td>Numero de documento</td>
        <td>Correo</td>
    </tr >

    <tr th:each="cliente : ${listaClientes}">
        <td th:text="${cliente.id}"></td>
        <td th:text="${cliente.nombres}"></td>
        <td th:text="${cliente.apePaterno}"></td>
        <td th:text="${cliente.apeMaterno}"></td>
        <td th:text="${cliente.tipoDocumentoDTO.descripcion}"></td>
        <td th:text="${cliente.dni}"></td>
        <td th:text="${cliente.email}"></td>

    </tr>
</table>
</body>
</html>